.sklad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skladItem{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.text{
    padding: 5px 50px;
    border: 1px solid black;
}